<div id="carousel-wrapper">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
    
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    
        </div>
    
        <div class="carousel-inner">
    
          <div class="carousel-item active">
           
                <img src="https://media.istockphoto.com/id/1350703881/photo/minimalist-interior-of-modern-living-room-3d-rendering.jpg?s=612x612&w=0&k=20&c=OaULhYYW7faXwxTDCydNoucZUZmCsu4NLs0sR5b_DcM="  alt="sofer">
         
          </div>
    
          <div class="carousel-item">
    
            <img src="https://media.istockphoto.com/id/940107458/photo/modern-living-room-with-empty-billboard.jpg?s=612x612&w=0&k=20&c=omftm4G8mdAQRpy3qQtAyujf2VFtx2o6l-KhMjqHjC0="  alt="sofer">
    
          </div>
    
          <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1308262406/photo/blank-picture-frame-mockup-on-a-gray-wall-artwork-showcase-in-a-living-room.jpg?s=612x612&w=0&k=20&c=o-fk4H_g1eqGiaDqu9egSyP9Uqcrz4zoIFWJiNOK6Z0="  alt="sofer">
          </div>
    
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
    
        </button>
    
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
    
        </button>
    
      </div>

    <div id="Navigate">
        <h1>login</h1>
        <button type="button" class="btn btn-primary">Primary</button>
        
    </div>
</div>
