@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@100;200;300;400&display=swap');

* {   
    font-family: 'Poppins', 'Didact Gothic', sans-serif;
    font-size: 14px;
}

p{
    font-size: 10px;
    font-weight: bold;
}

.socials {
    display: flex;
    padding-left: 2%;
}

.facebook {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.instagram {
  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.twitter {

    width: 30px;
    height: 30px;  
    border-radius: 50%;
    text-align: center;
}

.linkedln {
   
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.body {
    padding-left: 1%;
    padding-right: 1%;
}


.footer_right {

    display: flex;
    justify-content: space-between;
}

.card-header{
    /* background-color: orange; */
    cursor: pointer;
}

.footer{
    margin-top: 9%;
}

img {
    
    width:  319px;
    height: 200px;
    
    object-fit: fill;
}

.add_cart{
    border: 1px solid rgb(185, 132, 33);
}

.add_cart:hover {
    background-color: rgb(185, 132, 33);
}

.view_chair {
    /* background-color: orange;     */
    border: 1px solid  rgb(185, 132, 33);
}

.view_chair:hover {
    background-color: rgb(185, 132, 33);
}