svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    
    background-color: rgb(185, 132, 33);

}

.formWrapper {

    border-radius: 5px;
    background-color: #ccc5c5;
    padding: 20px;
    width: 420px;
    margin: auto;
    margin-top: 6%;

}

input.ng-invalid.ng-touched {

    border: 1px solid red;
    
}

.forgot-password{
    color: blue;

}